        body {
            padding: 0px;
            margin: 0px;
            background-color: #36393f;
            color: white;
        }

        #title-bar {
            -webkit-app-region: drag;
            height: 20px;
            text-align: center;
            line-height: 20px;
            vertical-align: middle;
            background-color: #202124;
            padding: none;
            margin: 0px;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
        }

        #title {
            position: fixed;
            top: 0px;
            left: 20px;
            color: white;

        }

        button {
            color: white;
            background-color: transparent;
            border-color: transparent;
        }

        button:hover {
            filter: brightness(85%);
        }

        button.nohover:hover {
            filter: brightness(100%);
        }

        button.border {
            border-color: #202124;
            margin: 1px;
        }

        button.title-bar-btns {
            top: 0px;
            position: fixed;
            width: 20px;
            height: 20px;
            color: white;
            background-color: #202124;
            border-color: transparent;
            -webkit-app-region: no-drag;
        }

        button.settings {
            border-color: darkgray;
        }

        .checked {
            border-color: darkgreen;
            background-color: green;
        }

        .unchecked {
            border-color: darkred;
            background-color: red;
        }

        textarea {
            color: white;
            background-color: #36393f;
            border-color: #202124;
        }

        select {
            color: white;
            background-color: #36393f;
            border-color: #202124;
        }

        select:disabled {
            color: white;
            background-color: #202124;
            border-color: #202124;
        }

        div#dropzone {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999999999;
            /* takes up 100% of page */
            width: 100%;
            height: 100%;
            /* dim the page with 50% black background when visible */
            background-color: rgba(0, 0, 0, 0.5);
            /* a nice fade effect, visibility toggles after 175ms, opacity will animate for 175ms. note display:none cannot be animated.  */
            transition: visibility 175ms, opacity 175ms;
        }

        div#black {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999999999;
            /* takes up 100% of page */
            width: 100%;
            height: 100%;
            /* dim the page with 50% black background when visible */
            background-color: rgba(0, 0, 0, 0.5);
            /* a nice fade effect, visibility toggles after 175ms, opacity will animate for 175ms. note display:none cannot be animated.  */
            transition: visibility 175ms, opacity 175ms;
        }

        div#info {
            z-index: 99999999999;
            /* dim the page with 50% black background when visible */
            background-color: #36393f;
            /* a nice fade effect, visibility toggles after 175ms, opacity will animate for 175ms. note display:none cannot be animated.  */
            transition: visibility 175ms, opacity 175ms;
            width: 500px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -250px;
            margin-top: -150px;
        }

        .pic {
            grid-area: image;
            height: 50px;
            width: 50px;
        }
        
        .title {
            grid-area: title;
            width: 190px;
        }
        
        .stats {
            grid-area: stats;
            width: 190px;
        }
        
        .file {
            display: grid;
            grid-template-areas:
                'image title'
                'image stats';
            grid-gap: 1px;
            padding: 5px;
            width: 240px;
            height: 50px;
            background-color: #202124;
            float: left;
            margin: 5px;
        }
        
        .file>div {
            background-color: #36393f;
            text-align: center;
            padding: 0px 0;
            font-size: 20px;
        }
        
        .textimg {
            height: 1em;
            vertical-align: text-bottom;
        }
        
        .smallfont {
            font-size: .9em;
        }
        
        .danger { 
            color: red
        }

        button:focus {
            outline: none;
        }