.pic {
    grid-area: image;
    height: 50px;
    width: 50px;
}

.title {
    grid-area: title;
    width: 190px;
}

.stats {
    grid-area: stats;
    width: 190px;
}

.file {
    display: grid;
    grid-template-areas:
        'image title'
        'image stats';
    grid-gap: 1px;
    padding: 5px;
    width: 240px;
    height: 50px;
    background-color: #202124;
    float: left;
    margin: 5px;
}

.file>div {
    background-color: #36393f;
    text-align: center;
    padding: 0px 0;
    font-size: 20px;
}

.textimg {
    height: 1em;
    vertical-align: text-bottom;
}

.smallfont {
    font-size: .9em;
}

.danger { 
    color: red
}